


.table-container {
    margin: 10px auto;
    width: 95%;
  }
  
  .headSalary {
    font-size: 24px;
    margin-top: 30px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    font-family:'Poppins', sans-serif;
  }
  
  .bg {
    background-color: #606db5;
    color: white;
  }
  
  input[type="text"].form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    padding: 8px 10px;
    background-color:#0748df;
    color: #eff0f3;
    border: 1px solid #0748df;
    border-radius: 4px;
    cursor: pointer;
    
  }  
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  